# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
node_modules
npm-debug.log

# Environment (contains sensitive data)
.env
.env.*

# Files not required for production
README.md
CHANGELOG.md
docker-compose.yml
Dockerfile
.eslintrc.json
.prettierrc
.husky

# Build outputs
.next
out
dist
build
coverage

# Misc
.DS_Store
*.pem
.vscode 